body{
   background-image: url(../images/MVHS-Logo.png), linear-gradient(45deg, #000000, #87B37A, #77867F);
   /*  background-image: url(../images/MVHS-Logo.png), linear-gradient(45deg, #000000, #FFAB0D, #751807);*/
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    margin: 0;
}

.title_container{
    margin-bottom: 8vh;
  background: rgba(255, 255, 255, 0.75);
    /*  background: rgba(117, 24,7,0.75);*/
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
   /* font-family: 'Harry Potter', sans-serif;*/
   font-family: 'Lato', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 3vw;
}
.footer_container{
    background: rgba(255, 255, 255, 0.75);
    border-radius:15px;
    font-family: 'Lato', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: #38761d;
   /* color: #FFAB0D;*/
    text-align: center;
    font-size: 2vw;
    
}


.title{
    color: #38761d;
   /* color: #FFAB0D;*/
    text-align: center;
    width: 100vw;
    margin: 0;
}

.end{
   color: #38761d;
    background: rgba(255, 255, 255, 0.75);
     /*background: rgba(117, 24,7,0.75);
    color: #FFAB0D;*/
    border-radius: 15px;
    text-align: center;
    font-size: 5vw;
    font-family: 'Lato', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    display: table;
    margin: 0 auto;
    width: 60vw;
    display: none;
}

.end_container{
    margin-top: 11vh;
}

.text_container{
    font-weight: bold;
    font-size: 3vw;
    font-family: 'Lato', sans-serif;
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 3vw;
}


.date{
    color: #38761d;
    /*color: #FFAB0D;*/
   background: rgba(255, 255, 255, 0.75);
    /* background: rgba(117, 24,7,0.75);*/
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}
.period{
    color: #38761d;
    /*color: #FFAB0D;*/
    float: right;
    margin-right: 25px;
    background: rgba(255, 255, 255, 0.75);
   /* background: rgba(117, 24,7,0.75);*/
    padding: 0px 20px 0px 20px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

.bar-placeholder{
    padding: 10px;
}

.names{
	color: ;
	position: absolute;
	bottom: 0;
	right: 0;
}



.progress_container {
    width: 75%;
    margin: auto;
    height: 4vw;
    background-color: #bdaa70ff;
    border-radius: 10px;
    position: relative;
}

.progress_bar {
    width: 10%;
    height: 100%;
    background-color: #38761d;
    border-radius: 10px;
    overflow: hidden;
   background: repeating-linear-gradient(to right, green 0%, olive 50%, green 100%);
    /*  background: repeating-linear-gradient(to right, DarkRed 0%, gold 50%, DarkRed 100%);*/
    width: 100%;
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient 5s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.progress_time {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: white;
    font-weight: bold;
    font-size: 4vw;
}

#clock {
    color: #38761d;
  /*  color: #FFAB0D;*/
    text-align: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-family: 'Lato', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-size: 2.5vw;
    margin: 0;

}

@keyframes gradient { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}

@keyframes gradient2 {
	0% { background-position: 0% 50%}
	50% { background-position: 100% 50%}
	100% { background-position: 0% 50%}
}
