@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* ONLY EDIT ABOVE THIS LINE TO ADD FONTS - EDIT BELOW THIS LINE TO UPDATE VARIABLES/STYLES */
 
:root {
    --text-color: #ffffff;

    --font-family: 'DM Sans', sans-serif;

    --clock-font-family: 'DM Mono', sans-serif;
    /* This font should always remain DM Mono or another font that is very easy to read numbers in. */

    --background: linear-gradient(70deg, #01401E, #B19539);

    --text-background: rgba(0, 0, 0, 0.5);

    --progress-bar-animation-length: 4.5s;

    --progress-bar-angle: to right;

    --progress-bar-color-1: #007d3b;

    --progress-bar-color-2: #d2b246;

    --progress-bar-background: rgba(0, 0, 0, 0.5);

    --progress-bar-border: #FFFFFF;

    --names-color: rgb(255, 255, 255);
}

/* DO NOT EDIT BELOW THIS TEXT (UNLESS YOU KNOW WHAT YOU'RE DOING) */

body {
   background-image: var(--background);
   font-family: var(--font-family);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    margin: 0;
}

.title_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the clock horizontally */
    margin-bottom: 8vh;
    background: var(--text-background);
    font-family: var(--font-family);
    font-size: 3vw;
}

.footer_container {
    background: var(--text-background);
    color: var(--text-color);
    font-family: var(--font-family);
    text-align: center;
    font-size: 2vw;
    
}


.title{
    color: var(--text-color);
   /* color: #FFAB0D;*/
    text-align: center;
    width: 100vw;
    margin: 0;
}

.end{
   color: var(--text-color);
   background: var(--text-background);
   font-family: var(--font-family);
     /*background: rgba(117, 24,7,0.75);
    color: #FFAB0D;*/
    border-radius: 18px;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    display: table;
    margin: 0 auto;
    width: 60vw;
    display: none;
}

.end_container{
    margin-top: 11vh;
}

.text_container{
    font-weight: bold;
    font-size: 3vw;
    padding-bottom: 3vw;
}


.date{
    color: var(--text-color);
    background: var(--text-background);
    font-family: var(--font-family);
    border-radius: 18px;
    text-align: center;
    padding: 10px;
    margin-left: 60px;
}
.period{
    color: var(--text-color);
    font-family: var(--font-family);
    float: right;
    margin-right: 60px;
    background: var(--text-background);
    padding: 0px 20px 0px 20px;
    border-radius: 18px;
    text-align: center;
    padding: 10px;
}

.bar-placeholder{
    padding: 10px;
}

.names{
	color: var(--names-color);
	position: absolute;
	bottom: 0;
    font-family: var(--font-family);
	right: 0;
    margin: 3px;
    font-size: 16px;
}

.progress_container {
    width: 75%;
    margin: auto;
    height: 5.5vw;
    background-color: var(--progress-bar-background);
    font-family: var(--font-family);
    border-radius: 14px;
    position: relative;
    border: 2px solid var(--progress-bar-border);
}

.progress_bar {
    width: 10%;
    height: 100%;
    color: var(--text-color);
    font-family: var(--font-family);
    border-radius: 14px;
    overflow: hidden;
    background: repeating-linear-gradient(var(--progress-bar-angle), var(--progress-bar-color-1), var(--progress-bar-color-2), var(--progress-bar-color-1));
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient var(--progress-bar-animation-length) infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.progress_time {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--text-color);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 4vw;
}

#clock {
    color: var(--text-color);
    font-family: var(--clock-font-family);
    font-size: 5vw;
    margin: 0;
}

@keyframes gradient { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}

@keyframes gradient2 {
	0% { background-position: 0% 50%}
	50% { background-position: 100% 50%}
	100% { background-position: 0% 50%}
}


#mvhs-logo {
    height: 5vw; /* Adjust this value to match the size of the clock */
}

#img {
    height: 5vw;
}

.logo_container {
    position: absolute;
    left: 15px;
    display: flex;
    align-items: center;
    height: 100%;
}

.img_container {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    height: 100%;
}
