/* FONTS */
/* Default font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* Slab font (good for ancient things) */
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* Default number font */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
/* Playful font */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
/* Old font (serif as can be) */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
/* Halloween font */
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
/* Smooth bolder rounded (slice A) */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
/* Hawaiian font (Wish Week 2025) */
@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

/* ONLY EDIT ABOVE THIS LINE TO ADD FONTS - EDIT BELOW THIS LINE TO UPDATE VARIABLES/STYLES */

:root {
    --text-color: #ffffff;

    --font-family: 'DM Sans', sans-serif;

    --clock-font-family: 'DM Mono', sans-serif;
    /* This font should always remain DM Mono or another font that is very easy to read numbers in. */

    --background: linear-gradient(70deg, #01401E, #B19539);

    --text-background: rgba(0, 0, 0, 0.5);

    --progress-bar-animation-length: 10s;

    --progress-bar-angle: to right;

    --progress-bar-color-1: #007d3b;

    --progress-bar-color-2: #d2b246;

    --progress-bar-text-color: white;

    --progress-bar-background: rgba(0, 0, 0, 0.5);

    --progress-bar-border: #FFFFFF;

    --names-color: rgb(255, 255, 255);
}


/* DO NOT EDIT BELOW THIS TEXT (UNLESS YOU KNOW WHAT YOU'RE DOING) */


/**/
/**/
/**/

* {
    transition: all 0.3s ease;
	font-family: 'DM Sans', sans-serif;
}

body {
    background: var(--background);
    font-family: var(--font-family);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-position: center center;
    overflow: hidden;
    margin: 0;
}

.title_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the clock horizontally */
    margin-bottom: 6vh;
    background: var(--text-background);
    font-family: var(--font-family);
    font-size: 3vw;
}

.footer_container {
    background: var(--text-background);
    color: var(--text-color);
    font-family: var(--font-family);
    text-align: center;
}

.footer_container p {
    font-size: 1.6vw;
}

.footer_container h4 {
    font-size: 2.8vw;
}


.title{
    color: var(--text-color);
   /* color: #FFAB0D;*/
    text-align: center;
    width: 100vw;
    margin: 0;
}

.end{
   color: var(--text-color);
   background: var(--text-background);
   font-family: var(--font-family);
     /*background: rgba(117, 24,7,0.75);
    color: #FFAB0D;*/
    border-radius: 1000px;
    box-shadow: 0px 0px 15px -3px black;
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    display: table;
    margin: 0 auto;
    width: 60vw;
    display: none;
	padding-bottom: 10px;
}

.end_container{
    margin-top: 11vh;
}

.text_container{
    font-weight: bold;
    font-size: 3vw;
    padding-bottom: 3vw;
}


.date{
    color: var(--text-color);
    background: var(--text-background);
    font-family: var(--font-family);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin-left: 40px;
}
.period{
    color: var(--text-color);
    font-family: var(--font-family);
    float: right;
    margin-right: 40px;
    background: var(--text-background);
    padding: 0px 20px 0px 20px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.bar-placeholder{
    padding: 10px;
}

.names{
	color: var(--names-color);
	position: absolute;
	bottom: 0;
    font-family: var(--font-family);
	right: 0;
    margin: 1px;
    font-size: 16px;
}

.progress_container {
    width: 75%;
    margin: auto;
    height: 5.5vw;
    overflow: hidden;
    background-color: var(--progress-bar-background);
    font-family: var(--font-family);
    border-radius: 30px;
    position: relative;
    border: 4px solid var(--progress-bar-border);
	box-shadow: 0px 0px 20px -5px var(--progress-bar-border);

}

.progress_bar {
    width: 50%;
transition: width 0.3s ease;
    height: 100%;
    color: var(--progress-bar-text-color);
    font-family: var(--font-family);
    background: repeating-linear-gradient(90deg, var(--progress-bar-color-1), var(--progress-bar-color-2), var(--progress-bar-color-1));
    background-size: 200% auto;
    background-position: 0 100%;
    animation: gradient var(--progress-bar-animation-length) infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.progress_time {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--progress-bar-text-color);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 4vw;
	   text-shadow: 0px 0px 15px black;

}

#clock {
    color: var(--text-color);
    font-family: var(--clock-font-family) !important;
    font-size: 5vw;
    margin: 0;
}

@keyframes gradient { 
  0%   { background-position: 0 0; }
  100% { background-position: -200% 0; }
}

@keyframes gradient2 {
	0% { background-position: 0% 50%}
	50% { background-position: 100% 50%}
	100% { background-position: 0% 50%}
}


#mvhs-logo {
    height: 5vw; /* Adjust this value to match the size of the clock */
}

#img {
    height: 5vw;
}

.logo_container {
    position: absolute;
    left: 15px;
    display: flex;
    align-items: center;
    height: 100%;
}

.img_container {
    position: absolute;
    right: 15px;
    display: flex;
    align-items: center;
    height: 100%;
}

.qrcode {
    height: 142px;
    width: 142px;
    border-radius: 4px;
    opacity: 0.95;
    padding: 5px;
    position: absolute;
    left: 50px;
    bottom: 50px;
    margin: 5px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, var(--wwpink), var(--wwblue), var(--wwyellow));
    padding: 5px;
    border-radius: 6px;
    opacity: 0.85;
    cursor: pointer;
}

div.id-wrap {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
	justify-content: center;
    background: rgba(0, 0, 0, 0.85);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
}

p#identification {
	font-size: clamp(50px, 5vw, 200px);
	color: white;
	font-family: 'DM Mono', monospace;
}
