/* This file contains the code for themes. */
/* Default Green: #01401E */
/* Default Yellow: #B19539 */

/* DEFAULT */
:root {
    --text-color: #ffffff;

    --font-family: 'DM Sans', sans-serif;

    --clock-font-family: 'DM Mono', sans-serif;
    /* This font should always remain DM Mono or another font that is very easy to read numbers in. */

    --background: linear-gradient(70deg, #01401E, #B19539);

    --text-background: rgba(0, 0, 0, 0.5);

    --progress-bar-animation-length: 4.5s;

    --progress-bar-angle: to right;

    --progress-bar-color-1: #007d3b;

    --progress-bar-color-2: #d2b246;

    --progress-bar-background: rgba(0, 0, 0, 0.5);

    --progress-bar-border: #FFFFFF;

    --names-color: rgb(255, 255, 255);
}

/* TUES HOMECOMING: CLASS LEVEL COLORS (RED FOR FRESHMAN!!!) */
:root {
    --text-color: #ffffff;

    --progress-bar-text-color: #000000;

    --font-family: 'DM Sans', sans-serif;

    --clock-font-family: 'DM Mono', sans-serif;
    /* This font should always remain DM Mono, another Monospace font, or another font that is very easy to read numbers in. */

    --background: linear-gradient(70deg, #d42a2a, #ff70db);

    --text-background: rgba(0, 0, 0, 0.5);

    --progress-bar-animation-length: 6s;

    --progress-bar-angle: to right;

    --progress-bar-color-1: #b01919;

    --progress-bar-color-2: #e432b8;

    --progress-bar-background: rgba(0, 0, 0, 0.5);

    --progress-bar-border: #FFFFFF;

    --names-color: rgb(255, 255, 255);
}

/* WEDNS HOMECOMING: DEFAULT/T */

/* THURS HOMECOMING: WHITE/TOGA */
:root {
    --text-color: #797979;

    --progress-bar-text-color: #797979;

    --font-family: 'Lora', 'DM Sans', sans-serif;

    --clock-font-family: 'DM Mono', sans-serif;
    /* This font should always remain DM Mono, another Monospace font, or another font that is very easy to read numbers in. */

    --background: linear-gradient(70deg, #ffffff, #c6c6c6);

    --text-background: rgba(0, 0, 0, 0.5);

    --progress-bar-animation-length: 8s;
    /* Pre-hoco: 6s */

    --progress-bar-angle: to right;

    --progress-bar-color-1: #727272;

    --progress-bar-color-2: #c6c6c6;

    --progress-bar-background: rgba(255, 255, 255, 0.3);

    --progress-bar-border: #000000;

    --names-color: rgb(0, 0, 0);
} 

/* FRI HOMECOMING: BLACKOUT */
:root {
    --text-color: #ffffff;

    --progress-bar-text-color: #ffffff;

    --font-family: 'Zilla Slab', 'DM Sans', sans-serif;

    --clock-font-family: 'DM Mono', sans-serif;
    /* This font should always remain DM Mono, another Monospace font, or another font that is very easy to read numbers in. */

    --background: linear-gradient(70deg, #042d18, #4a3a08);

    --text-background: rgba(0, 0, 0, 0.5);

    --progress-bar-animation-length: 8s;
    /* Pre-hoco: 6s */

    --progress-bar-angle: to right;

    --progress-bar-color-1: #042d18;

    --progress-bar-color-2: #4a3a08;

    --progress-bar-background: rgba(0, 0, 0, 0.5);

    --progress-bar-border: #FFFFFF;

    --names-color: rgb(255, 255, 255);
}