/* This file contains the code for themes. */
/* Default Green: #01401E */
/* Default Yellow: #B19539 */

/* DEFAULT */
:root {
    --text-color: #ffffff;

    --font-family: 'DM Sans', sans-serif;

    --clock-font-family: 'DM Mono', sans-serif;
    /* This font should always remain DM Mono or another font that is very easy to read numbers in. */

    --background: linear-gradient(70deg, #01401E, #B19539);

    --text-background: rgba(0, 0, 0, 0.5);

    --progress-bar-animation-length: 4.5s;

    --progress-bar-angle: to right;

    --progress-bar-color-1: #007d3b;

    --progress-bar-color-2: #d2b246;

    --progress-bar-text-color: white;

    --progress-bar-background: rgba(0, 0, 0, 0.5);

    --progress-bar-border: #FFFFFF;

    --names-color: rgb(255, 255, 255);
}
